<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="myDog" class="com.spring.animals.Dog" />
<!--    <bean id="myCat2" class="com.spring.animals.Cat" />-->
    <bean id="myMouse" class="com.spring.animals.Mouse" />

    <bean id="myCat" class="com.spring.animals.Cat">
        <constructor-arg value="CAT" />
    </bean>



</beans>